USE [master]
GO
/****** Object:  Database [DocumentFlow]    Script Date: 23.05.2026 18:35:29 ******/
CREATE DATABASE [DocumentFlow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocumentFlow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DocumentFlow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DocumentFlow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DocumentFlow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocumentFlow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocumentFlow]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 23.05.2026 18:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocType] [nvarchar](20) NOT NULL,
	[DocNumber] [nvarchar](50) NOT NULL,
	[DocDate] [date] NOT NULL,
	[DocTime] [time](7) NULL,
	[Counterparty] [nvarchar](200) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Subject] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 23.05.2026 18:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.05.2026 18:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([Id], [DocType], [DocNumber], [DocDate], [DocTime], [Counterparty], [EmployeeId], [Subject], [Content]) VALUES (1, N'Входящий', N'ВХ-001', CAST(N'2026-05-20' AS Date), CAST(N'10:30:00' AS Time), N'ООО Ромашка', 1, N'Запрос на поставку', NULL)
INSERT [dbo].[Documents] ([Id], [DocType], [DocNumber], [DocDate], [DocTime], [Counterparty], [EmployeeId], [Subject], [Content]) VALUES (2, N'Входящий', N'ВХ-002', CAST(N'2026-05-21' AS Date), CAST(N'14:15:00' AS Time), N'ЗАО Техноснаб', 2, N'Рекламация', NULL)
INSERT [dbo].[Documents] ([Id], [DocType], [DocNumber], [DocDate], [DocTime], [Counterparty], [EmployeeId], [Subject], [Content]) VALUES (3, N'Исходящий', N'ИСХ-001', CAST(N'2026-05-20' AS Date), CAST(N'09:00:00' AS Time), N'ООО Ромашка', 1, N'Ответ на запрос', NULL)
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FullName]) VALUES (1, N'Иванов Иван Иванович')
INSERT [dbo].[Employees] ([Id], [FullName]) VALUES (2, N'Петрова Елена Сергеевна')
INSERT [dbo].[Employees] ([Id], [FullName]) VALUES (3, N'Сидоров Алексей Владимирович')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role]) VALUES (1, N'admin', N'admin123', N'Admin')
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role]) VALUES (2, N'operator', N'op123', N'Operator')
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role]) VALUES (3, N'viewer', N'view123', N'Viewer')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B28CFFA7C]    Script Date: 23.05.2026 18:35:29 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD CHECK  (([DocType]='Исходящий' OR [DocType]='Входящий'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Viewer' OR [Role]='Operator' OR [Role]='Admin'))
GO
USE [master]
GO
